body{
  background-color: #a6afcc;
  opacity: 90%;
}
.sec1 {
  display: flex;
}
.section{
  background-color: #6083FF;
  margin-top: 10px;
  /* opacity: 0%; */
}
.section>h1 {
  font-size: 30px;
  padding-top: 79px;
}
#name {
  color: #9E3514;
  
}
.about {
  margin-top: 10px;
  height: 550px;
}
.about>h1 {
  padding: 0;
  text-align: center;
}
.background {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#education {
  background-color: #ffffff;
  width: 365px;
  height: 300px;
  overflow-y: scroll;
}
#job{
  background-color: #ffffff;
  width: 365px;
  height: 300px;
  overflow-y: scroll;
}
#interests{
  background-color: #ffffff;
  width: 365px;
  height: 300px;
  overflow-y: scroll;
}
h4 {
  font-size: medium;
  color: #9E3514;
}
#reason {
  background-color: #ffffff;
  height: 150px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 2px;
  border-radius: 110px;
}
#reason>h4{
  text-align: center;
}
th{
  text-align: center;
}
ol>li {
  font-weight: bold;
  border: 1px solid black;
}
.date {
  font-style: italic;
  color: #6083FF;
  font-weight: bold;
  text-align: left;
}
ul>li{
  margin: 0;
  text-align: left;
}
.role {
  font-style: italic;
  color: #9E3514;
  font-size: small;
  text-align: left;
}
.duties {
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid black;
}